<div class="container" style="margin:100px auto;">
    <div class="col">
        <form action="/admin/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" name="usuario">
            </div>

            <br>

            <div class="form-group">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {{#if error}}
        <p>Usuario o contraseña incorrecto</p>
        {{/if}}
    </div>
</div>
<br>