<div class="container-fluid">
    <div id="home" class="row align-items-center foto scroll_section padding">
        <div class="col-lg-2 offset-lg-9">
            <p>Otro mundo
            <p>
            <h1>Esquina Frank</h1>
            <p>El último adiós se replicaba como un germen por toda la ciudad</p>
        </div>
    </div>
</div>

<div style="background:peachpuff">
    <hr class="hrstyle">
</div>

<div class="container-fluid">
    <div id="escritos" class="row scroll_section" style="background: peachpuff;">
        <h1 class="secciones">Escritos</h1>

        <div style="background:peachpuff">
            <hr class="hrstyle">
        </div>

        <h3>Escupirlo</h3>
        <p style="text-align:left;">Mas que nunca, dentro de la caja boba que me asfixia con tanto
            procrastinar. Ya
            no es esta nota mental ni aquel disco que yace debajo de la pila de la ropa. Tampoco todo ese
            devenir de
            palabras
            que en este momento coquetean con mi consciencia y me hacen sentir que estoy cumpliendo con una
            tarea
            socialmente aceptada. Esto no es saldar una cuenta del presente ni sellar un espacio de tiempo
            dentro de
            unos cuantos renglones. Esto realmente va mas allá, hasta incluso creo que se me está yendo de
            las manos
            porque mis dedos ya no responden por mí, sino que fluyen libres como pájaros rebeldes, pájaros
            sin un
            mañana. Sentarse a escribir frente a una pantalla al tiempo que la música habita cada rincón de
            este
            cuarto vacío no es más que una distracción. Pero como toda distracción el foco está puesto acá.
            En
            simultáneo ocurren tantas cosas que abstraerse del mundo es una tarea realmente hedonista,
            ¿somos tan
            importantes para solo pensar en nosotros? Es difícil definirnos a partir de nuestra absoluta
            soledad, a
            partir de una ausencia absoluta de referencias, de miradas y de voces. Y como el pensamiento
            construye y
            destruye con facilidad, puedo suponer que la semilla que me impulso a esta actividad, a escribir
            esta
            nota a un costado del camino, ya germinó con tanta fuerza que el fruto creció dándole cierta
            forma a
            esas primeras palabras, a todo ese caos primigenio. Y el carozo de esta cuestión ahora yace
            desnudo en
            tu boca, luego de haber paseado por tus labios, tu lengua y tu paladar.</p>
        <h3>Tripulacion</h3>
        <p style="text-align:left;">Nunca imaginé que se pudiera concentrar tanta memoria en esta esquina
            encomendada a tu amor. Estas dentro de la hoja anterior, funcionas como el prefacio de este caos
            que
            supone vivir. En este destierro sigo buscándote en labios equivocados, como una flor huérfana de
            verano.
            Sin saberlo permaneces atrapada en la caja negra de esta nave tripulada por torpes simios.

            Abrís y cerras a gusto los espacios donde habitan nuestros pensamientos. Me das aire y me
            sofocas, como
            la pitada del primer cigarrillo. Todo esto traen tus palabras a mi cuerpo abandonado en un
            rincón
            alejado de la luz violenta del sol.

            ¿Desde cuándo nos venimos desordenando dentro de este obsesivo olvido? Nuestra existencia solo
            es una
            intermitencia, un capricho divino. Una forma de rebuscarle un motivo a tan poco cuerpo para
            tantas
            vidas.

            Sin embargo el inmenso karma que arrastra la mariposa es tan corto y preciso en el amor como el
            accionar
            de un último abrazo.
        </p>
        <h3>Un lazarillo persigue a un vidente</h3>
        <p style="text-align:left;">Mirabas por la ventana de una casa sin propietarios y ya de cerca te
            seguían el
            rastro un par de lazarillos despistados. Asombrados todos los calendarios porque en ningún mes,
            en
            ningún año habías coronado un espacio vacío y ahora en pleno verano a más de dos habías
            desalojado.

            Pero como todo buen emisario, un Cyrano de entre las tumbas resucitado se había puesto en tu
            camino y de
            contramano. Sorprendida y desde la cama rendida, todo tu amor hipotecaste con tal de pasar lo
            que queda
            de tu vida en manos de un experto que sepa manejar tremendo desastre.

            Tal vez no sea cuestión de rimas, ni de querer acomodar botellas vacías acumuladas noche tras
            noche en
            una ciudad que no encuentra salidas. Mañana vas a despertar queriendo desdibujar toda esta trama
            y no lo
            conseguirás, pues quien vive en noches prestadas, despierta en camas equivocadas.
        </p>
    </div>

</div>

<div style="background:peachpuff">
    <hr class="hrstyle">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="fotografias" class="row scroll_section" style="background:peachpuff">
                <h1 class="secciones">Fotografias</h1>

                <div style="background:peachpuff">
                    <hr class="hrstyle">
                </div>

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/foto1.jpg" class="d-block w-100 misfotos" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/foto2.jpg" class="d-block w-100 misfotos" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/foto3.jpg" class="d-block w-100 misfotos" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div style="background:peachpuff">
    <hr class="hrstyle">
</div>

<div class="container-fluid">
    <div class="row">
        <div id="contacto" class="col-8 formulario">
            <h3>Contacto</h3>
            <div class="col col-lg-12">
                <form class="row g-4" action="/" method="post">
                    <div class="col-md-6">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" name="inputNombre">
                    </div>
                    <div class="col-md-6">
                        <label for="inputApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="inputApellido" name="inputApellido">
                    </div>
                    <div class="col-12">
                        <label for="inputTelefono" class="form-label">Telefono</label>
                        <input type="number" class="form-control" id="inputTelefono" name="inputTelefono">
                    </div>
                    <div class="col-12">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail">
                    </div>
                    <div class="col-12 d-grid gap-2">
                        <button type="submit" class="btn btn-secondary btn-sm">Enviar</button>
                    </div>
                </form>
                <p>{{message}}</p>
            </div>
        </div>
        <div id="firma" class="col-4" style="background-color:peachpuff">
            <div class="col">
                <img src="/images/foto4.jpg" class="firmado">

            </div>
        </div>
    </div>
</div>

<div style="background:peachpuff">
    <hr class="hrstyle">
</div>