h1,
h2 {
    font-family: 'Comfortaa';
}

h3 {
    font-family: 'Faster One';
}

p {
    font-family: 'Comfortaa';
}

.container-fluid {
    width: 100%;
}

.foto {
    background: url(/images/madpag.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
    position: static;
}

.misfotos {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

}


.secciones {
    background-color: gray;
    font-family: 'Comfortaa';
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;


}

.formulario {
    background-color: peachpuff;
    padding-top: 0px;
}

.firmado {
    max-width: 100%;
    height: auto;
    border-radius: 75px;
}

.hrstyle {
    border: 1px solid peachpuff;
}

.scroll_section {
    scroll-margin-top: 60px;

}

footer {
    background-color: rgb(240, 167, 133);
    padding-top: 15px;
}

.padding {
    padding-top: 75px;
}

.lista-novedades {
    margin: 20px;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 20px 0;
}

.lista-novedades li a {
    background-color: peachpuff;
    font-family: 'Comfortaa';
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    transition: all .2s ease-in-out;
    display: block;
}

.lista-novedades li a:hover {
    color: #212529;
    background-color: grey;
}

.lista-novedades li a img {
    width: 120px;
    height: 50 px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 7rem;
    opacity: 1;
}